[2017-08-28 05:04] VinceMD opened #16 "how does this compare to prometheus operator?"
How does that project compare to Prometheus operator and `kube-prometheus`?
What is the roadmap and intention or problem this is trying to solve that might not be solved elsewhere?

I'm running kube-aws 0.9.7. I've downloaded Prometheus Operator 0.11.1.
I've got the Prometheus running but add to open the ports, editing the kube-aws security groups. Dashboards are showing up in Grafana ok.

[2017-08-28 10:57] camilb commented on #16
@VinceMD This project is intended to have a very simple monitoring solution for kubernetes in aws using Prometheus. You can have everything set in less than 2 minutes (prometheus, alertmanager, node-exporter, kube-state-metrics, grafana with custom dashboards and basic alerts for various components)  using an interactive script. Of course you can customise it further, but you have a pretty good st

[2017-09-13 15:04] #16 closed

[2017-09-14 08:01] gnufreex opened #18 "Some metrics are missing"
I have installed this yesterday and still not able to get all the metrics

![screenshot from 2017-09-14 09-48-11](https://user-images.githubusercontent.com/10132954/30418378-09c05418-9933-11e7-8162-78d9d672823f.png)
![screenshot from 2017-09-14 09-54-55](https://user-images.githubusercontent.com/10132954/30418380-09c30082-9933-11e7-87f8-f9099d509b9b.png)

On third pic, alerts in prmetheus are givi

[2017-09-14 09:01] camilb commented on #18
Hi @gnufreex, for the "K8S Cluster" dashboard I think you have something wrong in "Templating". Could you please check if it's like this?
<img width="649" alt="screen shot 2017-09-14 at 10 52 21" src="https://user-images.githubusercontent.com/2655869/30420818-13ca1306-993b-11e7-8db1-cfd1c5ae8f2f.png">
I made a push to master yesterday that fixes this issue, so, if you are using the actual master b

[2017-09-14 09:16] gnufreex commented on #18
![screenshot from 2017-09-14 11-05-52](https://user-images.githubusercontent.com/10132954/30421335-c0217d32-993c-11e7-8e8b-3054b21fef3d.png)

Templating seems ok. What about targets, where I find that?

[2017-09-14 09:17] gnufreex commented on #18
The deployment was made after your commit yesterday. About 7 hours latter. So I am up to date.

[2017-09-14 09:19] camilb commented on #18
Status ==>Targets
<img width="1274" alt="screen shot 2017-09-14 at 11 17 35" src="https://user-images.githubusercontent.com/2655869/30421869-6ea16f42-993e-11e7-80bc-8003511af16f.png">

[2017-09-14 09:23] gnufreex commented on #18
![screenshot from 2017-09-14 11-21-44](https://user-images.githubusercontent.com/10132954/30422021-f4fae1cc-993e-11e7-87d3-52e6e02322f6.png)
Bingo, problem is in targets.

Cluster is deplyed with Kops on AWS. How I fix those targets?

[2017-09-14 09:23] gnufreex commented on #18
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad", GitTreeState:"clean", BuildDate:"2017-06-29T23:15:59Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad", GitTreeState:"clean", BuildDate:

[2017-09-14 09:36] camilb commented on #18
First, let's check  the Cadvisor's metrics:
on your terminal, execute `kubectl proxy` then in a separate session `curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-246.us-west-2.compute.internal/proxy/metrics/cadvisor` and let me know if you can get the metrics. Didn't use kops yet and I don't really know exactly how they deploy kubernetes, but I'll give it a try.

[2017-09-14 09:52] gnufreex commented on #18
It returns 404

[2017-09-14 10:02] camilb commented on #18
Ok, I think if you try it like this it works: `curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-246.ec2.internal/proxy/metrics/cadvisor`

[2017-09-14 10:02] gnufreex commented on #18
[centos@ip-10-1-0-140 prometheus-kubernetes]$ curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-246.ec2.internal/proxy/metrics/cadvisor
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "nodes \"ip-10-1-10-246.ec2.internal\" not found",
  "reason": "NotFound",
  "details": {
    "name": "ip-10-1-10-246.ec2.internal",
    "kind": "nodes"
  },
  "code

[2017-09-14 10:05] camilb commented on #18
Can you please paste the results of `curl http://127.0.0.1:8001/api/v1/nodes/`

[2017-09-14 10:06] gnufreex commented on #18
curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-246.ec2.internal/proxy/metrics/cadvisor
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "nodes \"ip-10-1-10-246.ec2.internal\" not found",
  "reason": "NotFound",
  "details": {
    "name": "ip-10-1-10-246.ec2.internal",
    "kind": "nodes"
  },
  "code": 404
}[centos@ip-10-1-0-140 prometheus-kuber

[2017-09-14 10:08] gnufreex commented on #18
Lots of sensitive data, need to remove it whne fixed

[2017-09-14 10:15] camilb commented on #18
Removed the comment, just wanted to see the hostnames. According to your setup, this should work: `curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-53.us-west-2.compute.internal/proxy/metrics/cadvisor`

[2017-09-14 10:17] camilb commented on #18
Just created a cluster using kops, then deployed prometheus and this is what I have in targets:

<img width="1278" alt="screen shot 2017-09-14 at 12 06 47" src="https://user-images.githubusercontent.com/2655869/30424574-a447a4e2-9946-11e7-8012-6a3376fd9e66.png">

[2017-09-14 10:18] gnufreex commented on #18
curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-53.us-west-2.compute.internal/proxy/metrics/cadvisr
404 page not found

It does not work

[2017-09-14 10:19] gnufreex commented on #18
Did you use RBAC? I did not

[2017-09-14 10:21] camilb commented on #18
Yes, I'm using RBAC.

[2017-09-14 10:22] gnufreex commented on #18
I better redeploy prometheus with RBAC to see if there are changes

[2017-09-14 10:25] camilb commented on #18
Ok, please let me know if it works. I think kops it's enabling RBAC by default.

[2017-09-14 10:25] camilb commented on #18
But your problem seems to be related with something else anyway.

[2017-09-14 10:35] camilb commented on #18
Try to ssh into one of your nodes and execute `curl http://127.0.0.1:4194/metrics/`

[2017-09-14 10:37] gnufreex commented on #18
I redeployed with init.sh and RBAC on, nothing changed.

[2017-09-14 10:38] gnufreex commented on #18
Targets are down still, will try to ssh into nodes.

[2017-09-14 10:40] gnufreex commented on #18
One thing that strikes me, I changed type on Prometheus and grafana to LoadBalancer. Do I need to change node exporter to loadBalancer also?

[2017-09-14 11:14] gnufreex commented on #18
curl http://127.0.0.1:4194/metrics/
<a href="/containers/">Temporary Redirect</a>.

[2017-09-14 11:15] gnufreex commented on #18
[code]

[2017-09-14 12:19] gnufreex commented on #18
Are you using LoadBalancer or NodePort? How you access web interface if you are using NodePort or ClusterPort?

[2017-09-14 12:54] camilb commented on #18
No, Node Exporter uses kubernetes overlay network

[2017-09-14 12:56] camilb commented on #18
<a href="/containers/">Temporary Redirect</a>.

please execute curl exactly like this: `curl http://127.0.0.1:4194/metrics`  without the "/" at the end.

[2017-09-14 12:57] camilb commented on #18
I'm using an ingress controller. It's available in `./tools/ingress`

[2017-09-14 12:58] gnufreex commented on #18
Ok, this works, gives a lot of data

Cant paste all here.

[2017-09-14 13:19] camilb commented on #18
In my case, the deployment with kops works as expected. If I'm running `kubectl proxy`, then `curl http://127.0.0.1:8001/api/v1/nodes/ip-172-20-109-64.ec2.internal/proxy/metrics/cadvisor` i get all the metrics for cadvisor.

Same if I'm trying this on api server, like `curl http://127.0.0.1:8080/api/v1/nodes/ip-172-20-109-64.ec2.internal/proxy/metrics/cadvisor`

I don't have any idea why this is n

[2017-09-14 13:22] gnufreex commented on #18
So just to make sure you use default seting of the service file, not changed to LoadBalancer like me? And ingres controler lets you access the UI? I will redeploy that way

[2017-09-14 13:25] camilb commented on #18
Can you update your cluster to 1.7.5? I think you are running into this: prometheus/prometheus#2916

[2017-09-14 13:27] camilb commented on #18
Looks like it works only for 1.7.3+.

[2017-09-14 13:33] camilb commented on #18
Could be a quick fix: using `kubectl proxy` try this `curl http://127.0.0.1:8001/api/v1/nodes/ip-10-1-10-53.us-west-2.compute.internal:4194/proxy/metrics`

[2017-09-14 13:35] gnufreex commented on #18
proxy window give me I0914 13:26:06.444835   31682 logs.go:41] http: proxy error: dial tcp [::1]:8080: getsockopt: connection refused
I0914 13:34:45.428680   31682 logs.go:41] http: proxy error: dial tcp [::1]:8080: getsockopt: connection refused

when i try this

[2017-09-14 13:36] gnufreex commented on #18
I think we will update the cluster, thanks for help, I will post about it in 30 minutes

[2017-09-14 13:37] camilb commented on #18
Ok, you're welcome.

[2017-09-14 14:11] gnufreex commented on #18
Had to use LoadBalancer again, wouldn't work with clusterIP. It gave me error in the end. Now when tried with LoadBalancer it gives me this. Last line with dev/null is suspicious

[code]

Will now see if it works. Do you have some doc what to do with ingres controller in tools if this does not work?

[2017-09-14 14:15] camilb commented on #18
First, I was downgrading my kops cluster and went on the same issue as you, it worked with a quick fix, editing the Prometheus configmap and replacing the last line in cadvisor job with: `/api/v1/nodes/${1}:4194/proxy/metrics`

[2017-09-14 14:16] camilb commented on #18
You have a "init.sh" there also. It will guide you thru the steps.

[2017-09-14 14:32] gnufreex commented on #18
![screenshot from 2017-09-14 16-27-49](https://user-images.githubusercontent.com/10132954/30435352-da51a97a-9969-11e7-8627-4f1af87414ea.png)

Things improved a lot. Targets are also all up. Only problem is now that I don't get full data on FS usage.

I did not try ingress yet, I am using loadbalancer. I don't think Ingress will help with this, what do you think?

Thank you very much.

[2017-09-14 14:37] camilb commented on #18
Please edit them and change from "xvda9" to "xvda1", I'll fix this later.
<img width="1248" alt="screen shot 2017-09-14 at 16 36 19" src="https://user-images.githubusercontent.com/2655869/30435801-f6b8fc7a-996a-11e7-91df-7cdaf5483f1d.png">

[2017-09-14 15:53] #18 closed

[2017-09-19 16:31] gnufreex opened #20 "Docker push failing on fedora, unable to complete init.sh"
Building Grafana Docker image and pushing to dockerhub
Sending build context to Docker daemon 206.8 kB
Step 1/5 : FROM grafana/grafana:4.5.0
 ---> 26ce8e4a4b18
Step 2/5 : MAINTAINER Camil Blanaru <camil@edka.io>
 ---> Running in 9575f1fb31d4
 ---> e877fa9a5a7b
Removing intermediate container 9575f1fb31d4
Step 3/5 : ADD grafana-config/grafana.ini /etc/grafana/grafana.ini
 ---> 0fa652b8ca5e
Removing

[2017-09-19 16:31] gnufreex commented on #20
Also, all the command line is red after this.

[2017-09-19 17:17] camilb commented on #20
I'll make the build image process optional in the future. Also move the Grafana dashboards to ConfigMaps. Until then, here you have a quick fix: #21

[2017-09-19 17:17] #20 closed

[2017-09-22 15:58] gnufreex opened #22 "default backend - 404"
So I tried Ingress controler. When I use ingress load balancer i get from describe command, i get folllowing message in browser

default backend - 404

Do it is hitting the fronted but backend is gone. Previous setup with manually added type: LoadBalancer to svc file worked ok, but we need it to be accessible from cluster and AWS network as well.

[2017-09-22 19:44] camilb commented on #22
Can you post the logs from the nginx ingress controller?

[2017-09-22 19:46] camilb commented on #16
Added support for Prometheus Operator in #23

[2017-09-23 12:09] gnufreex commented on #22
What is the name of ingress controler? I can't find it. Maybe it did not get created?

[2017-09-23 12:11] gnufreex commented on #22
I ran the script again, i get this

[code]
Seems it did not get created.

[2017-09-23 14:08] camilb commented on #22
Ok, then it was the same issue I fixed in #24. Please erase the `nginx-ingress` namespace, pull the changes in the repository and run the script again.

[2017-09-24 16:53] gnufreex commented on #22
I did this. Things changed a bit. Now I can do from the master links grafana.hostname.of.the.cluser and get to the prompt to enter password in ncurses environment for the grafana. But does not accept password, just removes username and password and let me type again.

When I try to access from outside, from my laptop using Ingress loadbalancer link  after typing kubectl describe svc -n nginx-ingre

[2017-09-24 17:26] gnufreex commented on #22
I just tried with SSH tunelling as well. It still gives me default backend - 404

[2017-09-24 17:26] gnufreex commented on #22
Not sure why links gives password prompt then

[2017-09-24 17:36] camilb commented on #22
Are you planning to use the links without a password? By default it is set to use a basic auth. You can change this in the ingress, if you want.

[2017-09-24 18:06] gnufreex commented on #22
No, password is needed, this will also be installed on production cluster also. Currently trying on dev. I used links only to see if it is accessing.  Not sure why links prompts for password while ssh tunneling gives same error message as accessing over ingress load balancer

[2017-09-24 18:39] gnufreex commented on #22
[code]
Hostanmes and urls sanitized. Seems that ingress is not connected with prometheus nor alertmanaer nor grafana. How can this be fixed?

[2017-09-24 18:42] gnufreex commented on #22
Here are logs from ingress you asked the other day, but at the time there was no ingress. Now here it is:

` kubectl logs -n monitoring prometheus-0
level=info ts=2017-09-23T14:21:37.455866215Z caller=main.go:214 msg="Starting prometheus" version="(version=2.0.0-beta.5, branch=HEAD, revision=64c7932e851f3276391fc3e216cd30f447d4924e)"
level=info ts=2017-09-23T14:21:37.45594732Z caller=main.go:215 b

[2017-09-24 21:39] gnufreex opened #25 "Operator reliably creates zombie namespace"
[code]

I first started operator deploy script, and it hang at

`
Waiting for Operator to register custom resource definitions..................................................................................................................................................................................................................................................................................

[2017-09-24 22:08] camilb commented on #25
Try `kubectl get all -n monitoring` then erase all the objects there. Then, `kubectl delete ns monitoring --grace-period=0 --force`

[2017-09-24 22:09] camilb commented on #22
These are the logs from prometheus, the ingress logs are in `nginx-ingress` namespace.

[2017-09-24 22:09] gnufreex commented on #25
Tried that, also tired deleting the controller pod. Doesn't helo. Seems it is this bug.

https://github.com/kubernetes/kubernetes/issues/37278

[2017-09-24 22:17] camilb commented on #25
try this:

    kubectl delete servicemonitor $(kubectl get servicemonitor -n monitoring --no-headers | cut -d " " -f1) -n monitoring
    kubectl delete prometheus $(kubectl get prometheus -n monitoring --no-headers | cut -d " " -f1) -n monitoring
    kubectl delete alertmanager $(kubectl get alertmanager -n monitoring --no-headers | cut -d " " -f1) -n monitoring

[2017-09-24 22:21] gnufreex commented on #25
kubectl delete servicemonitor $(kubectl get servicemonitor -n monitoring --no-headers | cut -d " " -f1) -n monitoring
No resources found.

kubectl delete prometheus $(kubectl get prometheus -n monitoring --no-headers | cut -d " " -f1) -n monitoring
No resources found.

kubectl delete alertmanager $(kubectl get alertmanager -n monitoring --no-headers | cut -d " " -f1) -n monitoring
the server doesn

[2017-09-24 22:22] gnufreex commented on #25
all three puts error: resource(s) were provided, but no name, label selector, or --all flag specified

[2017-09-24 22:25] camilb commented on #25
Please contact me on http://slack.kubernetes.io I'm `@camil`

[2017-09-25 02:01] #25 closed

[2017-09-25 14:08] gnufreex commented on #22
This is still making problems. I have contacted few of my coworkers who use Macs, they get the same message like me. Seems it is working only on your Mac. Strangely, today stoped even giving me that message from yesterday.

[2017-09-25 14:08] gnufreex commented on #22
Seems Ingress controler is broken in some way.

[2017-09-28 07:18] #22 closed

[2017-10-23 10:03] startopscollab opened #31 "Updating prometheus configuration"
I need to add additional prometheus configuration, I don't see how I can do it. I found this

update alert rules: add or change the rules in assets/prometheus/rules/ and execute scripts/generate-rules-configmap.sh. Then apply the changes using kubectl apply -f manifests/prometheus/prometheus-k8s-rules.yaml -n monitoring
update grafana dashboards: add or change the existing dashboards in assets/gra

[2017-10-23 12:03] camilb commented on #31
@startopscollab You mean, a new job?

[2017-10-26 15:01] camilb commented on #31
Closed in https://github.com/camilb/prometheus-kubernetes/commit/128633697caa07019d090869ef22ffa94eb72161

[2017-10-26 15:01] #31 closed

[2017-11-01 08:20] kaarthikeyan1987 opened #32 "prometheus-k8s-0/prometheus-k8s-1 stuck at pending state"
First of all this tutorial to setup prometheus was really great and user friendly.
Unfortunately I got stuck after the deployments was exeecuted.

When I execute the command kubectl get pods -n monitoring. I could see all the pods running with respect to prometheus operator but expect prometheus-k8s-0 & prometheus-k8s-1.

Need help to proceed further on this deployment.

[2017-11-01 09:33] camilb commented on #32
Hi @kaarthikeyan1987, I'm aware that in some cases this can happen.  For example, you don't have a node available in a specific availability zone, or you don't have enough resources to allocate.
I need to see the output of these commands to debug:

     kubectl get pvc -n monitoring
     kubectl describe pvc -n monitoring

     kubectl get pv
     kubectl describe pv

     kubectl describe pod pro

[2017-11-01 09:41] kaarthikeyan1987 commented on #32
First of all thank you so much for responding. Please find the screen shot for the output for the commands that was provided from your end.

![image](https://user-images.githubusercontent.com/33221055/32268833-8ce3c132-bf16-11e7-9dae-83f397cbb5c5.png)

kubectl describe pod prometheus-k8s-0 -n monitoring
Name:           prometheus-k8s-0
Namespace:      monitoring
Node:           <none>
Labels:

[2017-11-01 09:45] camilb commented on #32
Are you using AWS?

[2017-11-01 09:47] kaarthikeyan1987 commented on #32
That is correct.
Kubernetes was setup using aws machines and bootstraped through kubeadm..
I have one master node and two client nodes.

![image](https://user-images.githubusercontent.com/33221055/32269193-bd8602f4-bf17-11e7-976d-164f04fb6296.png)

[2017-11-01 10:23] camilb commented on #32
Please create a new storage class and a pvc from this:

    apiVersion: storage.k8s.io/v1
    kind: StorageClass
    metadata:
      name: standard
    provisioner: kubernetes.io/aws-ebs
    parameters:
      type: gp2
    #  zone: eu-west-1a
    ---
    kind: PersistentVolumeClaim
    apiVersion: v1
    metadata:
      name: pvs-ebs
    spec:
      accessModes:
        - ReadWriteOnce
      resou

[2017-11-01 10:55] kaarthikeyan1987 commented on #32
Thanks for the reply.

I will define the storage class as you said above and try implementing it again.

I launched the kubernetes clusters using the below instructions

https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2017-11-02 04:20] kaarthikeyan1987 commented on #32
Hello,

As you mentioned I added the lines to the prometheus-k8s.yaml file and tried deploying it. I am getting the below error when executing kubectl describe pvc pvs-ebs.

Error from server (NotFound): persistentvolumeclaims "pvs-ebs" not found

Also post deploying when I check the prometheus-k8s.yaml file I couldn't find the lines which I added.
I think I am doing it wrong. Could you please tel

[2017-11-02 04:32] kaarthikeyan1987 commented on #32
After editing the storage class lines on prometheus-k8s.yaml. When I deploy it I am also getting another error during deployment

![image](https://user-images.githubusercontent.com/33221055/32309917-d57b9a0c-bfb4-11e7-87a6-ba6f37fc863f.png)

[2017-11-02 05:56] kaarthikeyan1987 commented on #32
In the meantime when I searched the website I understood you were telling to create a PersistentVolumeClaim. So I created a yaml file in the name pvs-ebs.yaml with the below code.

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvs-ebs
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  storageClassName: standard

When I run it using kubectl creat

[2017-11-02 06:15] kaarthikeyan1987 commented on #32
Sorry for the inconvenience. Now I completely understood what you were trying to say.
I understood that two yaml files needs to be created one for storage class creation and other for PVC creation.

When I try to run the file created for storage class

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: standard
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2
  zone: ap-s

[2017-11-02 08:03] camilb commented on #32
Hi @kaarthikeyan1987 It looks your Kubernetes cluster is not set correctly for AWS. I recommend using a tool like [kops](https://github.com/kubernetes/kops) for provisioning.

[2017-11-02 08:12] kaarthikeyan1987 commented on #32
Hi camilb

I am getting the below error while creating PVC even though I have a valid storageclasses created.

![image](https://user-images.githubusercontent.com/33221055/32315733-5a7147d4-bfd3-11e7-9f01-a90d242bc7cb.png)

My current kubernetes cluster seems to be working fine.
Also when I try to create a pv it says that it already exists.

![image](https://user-images.githubusercontent.com/332210

[2017-11-02 08:29] camilb commented on #32
Did you set kubeadm like this `kubeadm init --cloud-provider=aws`? Please also check this https://github.com/kubernetes/kubernetes/issues/38723

[2017-11-02 09:21] kaarthikeyan1987 commented on #32
Thanks mate..I am doing a POC actually so no issues I will destroy the current kubernetes setup and launch it as you said with aws flags..

[2017-11-02 11:37] kaarthikeyan1987 commented on #32
I tried doing it from the scratch and still facing the same issue.
Are you sure there will not be any complications if done through AWS KOPS.

Also apart from AWS KOPS. Is there is any other way of setting up kubernetes cluster with which this prometheus will be working..

[2017-11-02 11:41] camilb commented on #32
At the moment I'm testing against clusters created using [kube-aws](https://github.com/kubernetes-incubator/kube-aws) and [kops](https://github.com/kubernetes/kops). Should work fine with other methods, but didn't have time to test it. So, if you deploy it with `kops` it should work.

[2017-11-02 11:53] kaarthikeyan1987 commented on #32
Thanks mate. I am trying it with Kube-AWS. will let you know on updates tomorrow.

[2017-11-02 11:53] kaarthikeyan1987 commented on #32
Thank you so much for the help..

[2017-11-02 11:57] camilb commented on #32
You're welcome. Please let me know hot it went. Also if you want a quick start with `kube-aws`, I created a script to deploy the cluster securely: https://github.com/camilb/kube-aws-secure

[2017-11-03 05:15] kaarthikeyan1987 commented on #32
I tried using kops but I would not be able to bare a brief infrastructure setup for POC.
So as far as I did with kubeadm now..I have one master and two nodes. With this setup I have to setup prometheus and mainly monitor pod and container metrics..
Could you please help me out..

[2017-11-03 06:48] kaarthikeyan1987 commented on #32
Hi Mate,

I was able to run prometheus but getting the error as below in prometheus dashboard.

![image](https://user-images.githubusercontent.com/33221055/32362625-dc4a40fe-c090-11e7-9dba-453bf14d45d1.png)

**My configuration**
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
    scrape_configs:
    # etcd is living outs

[2017-11-03 15:46] camilb commented on #32
Did you use kops in the end?

[2017-11-03 15:50] camilb commented on #32
You can deploy a cluster using kops as simple as this:

    export NAME=kops.aws.camil.org

    kops create cluster \
    --kubernetes-version=1.7.8 \
    --zones=us-east-1b,us-east-1c,us-east-1d \
    --master-zones=us-east-1b,us-east-1c,us-east-1d
    --node-count=3 \
    --node-size=t2.medium \
    --master-size=t2.medium \
    ${NAME}

    kops update cluster ${NAME} --yes

This is what I'm us

[2017-11-06 09:22] kaarthikeyan1987 commented on #32
Hi Cam,

I got it setup and I have the nodes getting monitored. I would like to know if there are possibilities to connect a node that is in different aws region to the master server which is in a different region.

With in same region I am able to connect a worker node to master node but not from different region.

[2017-11-06 09:27] camilb commented on #32
Hi, you have to use [Kubernetes federation](https://github.com/kubernetes/kops/blob/master/vendor/k8s.io/kubernetes/federation/README.md) to achieve this.

[2017-11-06 09:51] kaarthikeyan1987 commented on #32
Hi Cam,

I got the prometheus setup running with the below github reference.
https://github.com/giantswarm/kubernetes-prometheus

My work that is assigned now is to run a Tomcat in a container and monitor it using prometheus.
Do you have details that would help me out to proceed further.

[2017-11-06 10:06] camilb commented on #32
@kaarthikeyan1987 You have to use the [jmx_exporter](https://github.com/prometheus/jmx_exporter/blob/master/example_configs/tomcat.yml)

[2017-11-06 10:07] camilb commented on #32
Closing as it is no longer related to this repository.

[2017-11-06 10:07] #32 closed

[2017-11-13 22:15] alexlokshin opened #34 "Deploying twice leads to bizarre errors"
When deployed over and over again, at a certain point errors like these surface up:

[code]

[2017-11-13 22:53] camilb commented on #34
@alexlokshin After running `./teardown`plese delete the custom resource definitions:

`kubectl get crd -o 'jsonpath={.items[*].metadata.name}' | xargs -n 1 | fgrep coreos.com | xargs kubectl delete crd`

Then try deploying it again. Please let me know if this solves the issue.

[2017-11-15 13:11] alexlokshin commented on #34
I added the command to teardown and ran the teardown script. Then deployed project a couple of times without any changes to code. Seems to deploy fine now.

Do we need to teardown every time before deploying any changes to project?

Another question: Did you remove Docker error count pane from the latest k8s-Usage dashboard? That was very useful for us.

Thank you for your help. Your project is aw

[2017-11-15 13:36] camilb commented on #34
I never tried to apply the same configuration for `ServiceMonitor` (only updated rules, dashboards, etc) but seems to be a issue with Kubernetes itself: https://github.com/coreos/prometheus-operator/issues/699
I'll take a look on it.

Yes, I think it was removed at some moment to reduce the number of queries in the same dashboard  and avoid due to metrics changes in Prometheus 2.0. I'll test it so

[2017-11-15 13:40] camilb commented on #34
According to this https://github.com/kubernetes/kubernetes/issues/53379, the fix will arrive in Kubernetes 1.8.4

[2017-11-24 08:07] Akhilesh-Anb opened #36 "App not showing up in Prometheus target"
Hi,

Hope you are well! This repository helped me a lot to configure Prometheus and Grafana.
I have deployed a sample web application.
I need your help to get the Application metrics in targets page of prometheus. How can i achieve this.

Appreciate your help.

Thanks,
Akhilesh Appana

[2017-11-26 16:16] abhijt-zanak opened #37 "error in "Waiting for Operator to register custom resource definitions........................""
I deployed entire grafana thingy successfully also used for few days when I was trying to apply few changes, I got few errors.
Later, I used ./teardown in order to delete everything and when I started ./deploy, I was getting following error, it stuck at "Waiting for Operator to register custom resource definitions.........................."

- [ ] "abhijitzanak-mac:~ abhijitzanak$ kubectl get pods

[2017-11-26 16:20] abhijt-zanak commented on #37
also tried

- [ ] kubectl get crd -o 'jsonpath={.items[*].metadata.name}' | xargs -n 1 | fgrep coreos.com | xargs

- [ ] kubectl delete crd

the server doesn't have a resource type "crd"

[2017-11-29 23:01] Akhilesh-Anb commented on #36
Here is the yml file of the application:

[code]

After deploying the application, i'm not able to see this in targets page of UI.
could you please help me on this.

[2017-11-29 23:33] camilb commented on #36
Hi @Akhilesh-Anb please try this:

[code]
The problem was that you had a different label on pods than the service selector.
Tested and works fine.

<img width="1259" alt="screen shot 2017-11-30 at 00 30 03" src="https://user-images.githubusercontent.com/2655869/33404799-f4d2014a-d565-11e7-93fc-90ff21e55e84.png">

[2017-11-29 23:39] camilb commented on #37
Hi @abhijt-zanak I see you're running Kubernetes v1.6.7. Unfortunately versions below 1.7.0 are not supported anymore. `customresourcedefinitions`, aka `crd` were `thirdpartyresources` aka `tpr` before 1.7. I think you were running an older version of Prometheus Operator.

[2017-12-02 11:42] abhijt-zanak commented on #37
point taken , will upgrade cluster to 1,7,1 kops. Thanks.

[2017-12-02 11:42] #37 closed

[2017-12-02 11:44] abhijt-zanak opened #38 "how I can persist grafana dashboard data"
your repo helped me immensely to configure Prometheus and Grafana.Today, only I upgraded my cluster on kops 1.7.1.
my problem statement is

1. I am creating few custom dashboard i.e using rabbitmq exporter getting queue count.
2. Daily I am restarting my node, how I can persist my dashboard data and data source? do i need to add pvc for garfana as well , if yes , where i can add ?
3. Am I not able

[2017-12-04 06:16] abhijt-zanak opened #39 "Need to add Rabbitmq exporter to Prometheus configuration to scrape the data"
I am creating custom dashboard wherein Prometheus will poll the data from rabbitmq exporter, please let me know where I can modify the Rabbitmq exporter any template to include the Rabbitmq exporter in scrape_configs.

[2017-12-04 06:29] abhijt-zanak commented on #38
I have gone through your readme and framework, What I understood is in order to add new dashboard we need to add json of dashboard inside assets/grafana/. However, I already did deployment, is there any way to add my test-dashboard.json after deployment.

[2017-12-04 06:43] #38 closed

[2017-12-04 06:44] abhijt-zanak commented on #38
closing the issue.

[2017-12-04 08:22] abhijt-zanak commented on #39
attaching rabbitmq deployment and service:
rabbitmq deployment
[code]
[code]

[2017-12-05 17:31] camilb commented on #39
Hi @abhijt-zanak Please create this servicemonitor:

[code]

[2017-12-05 17:32] camilb commented on #39
For me works fine:

![screen shot 2017-12-05 at 18 28 59](https://user-images.githubusercontent.com/2655869/33621343-af901480-d9ea-11e7-94b1-cdd231bada77.png)

[2017-12-06 07:50] abhijt-zanak commented on #39
Thanks for the reply.
I have added service monitor, however not able to see rabbitmq endpoint in Prometheus targets, in order to take effect Do I need do any other changes at Prometheus end? or do I need to do any more changes?

[2017-12-06 11:57] camilb commented on #39
The `servicemonitor` has to be in the `monitoring` namespace and you have to specify the namespace of rabbitmq in the `namespaceSelector`. Here is the full example that works fine for me:

[code]

[2017-12-06 12:21] camilb commented on #39
@abhijt-zanak After erasing and creating again using the above configuration, it stopped working for me also. I'll update the issue after I find the solution. It works fine with any other apps. I think I miss something.

[2017-12-06 12:42] abhijt-zanak commented on #39
ok, thanks for updating me.

[2017-12-06 13:19] camilb commented on #39
As weird as may sound (maybe there is documented somewhere) but after changing the labels, everything works fine. I have changed the `app: rabbitmq` to `k8s-app: rabbitmq`. Deleted and recreated several times and it works. Here is the exact yaml I'm testing:

[code]

[2017-12-06 13:20] camilb commented on #39
<img width="1265" alt="screen shot 2017-12-06 at 14 16 26" src="https://user-images.githubusercontent.com/2655869/33663504-8d3a8248-da90-11e7-8939-c92d15948eba.png">

[2017-12-06 13:55] abhijt-zanak commented on #39
thanks a lot, issue is resolved, after changing the labels it worked perfectly.
your repo helped us immensely to configure Prometheus and Grafana.
Hence, closing the issue.

[2017-12-06 13:55] #39 closed

[2017-12-06 14:32] camilb commented on #39
I'm glad it helped. To better understand the issue, `Prometheus Operator` will look for `ServiceMonitor` objects that match `serviceMonitorSelector` which by default is configured to `k8s-app`. You can see it here: https://github.com/camilb/prometheus-kubernetes/blob/master/manifests/prometheus/prometheus-k8s.yaml#L22

So,  the `ServiceMonitor` label has to be `k8s-app: something`

[2017-12-06 14:43] abhijt-zanak commented on #39
ahh, thanks for the info.

[2017-12-06 23:10] stevemcghee opened #40 "rbac errors on clean deploy"
in attempting to deploy this on a 1.7.8-gke.0 cluster with legacy auth enabled (I'm not using RBAC), I get the following:

Deploying Prometheus Operator
serviceaccount "prometheus-operator" created
clusterrolebinding "prometheus-operator" created
service "prometheus-operator" created
deployment "prometheus-operator" created
Error from server (Forbidden): error when creating "manifests/prometheus-o

[2017-12-06 23:29] stevemcghee commented on #40
hm, i get:
Error from server (AlreadyExists): clusterrolebindings.rbac.authorization.k8s.io "admin-binding" already exists

Name:         admin-binding
Labels:       <none>
Annotations:  <none>
Role:
  Kind:  ClusterRole
  Name:  cluster-admin
Subjects:
  Kind  Name  Namespace
  ----  ----  ---------

[2017-12-06 23:42] stevemcghee commented on #40
here is the full output of ./deploy

Creating 'monitoring' namespace.
Error from server (AlreadyExists): namespaces "monitoring" already exists

1) AWS
2) GCP
3) Azure
Please select your cloud provider:2
Deploying on Google Cloud
Are you deploying in Google Container Engine (GKE)?
Y/N [N]: y
Grant cluster-admin permissions to your current identity
Error from server (AlreadyExists): clusterrolebind

[2017-12-06 23:56] camilb commented on #40
Yes, the deploy script creates this on the first run to attempt resolving this but it looks it doesn't work right anymore. I'll provide a fix soon. Meanwhile, to solve it, please run the fallowing commands:

[code]
Then try deploying again. Should work.

[2017-12-07 00:31] stevemcghee commented on #40
ah nice.  that came up clean.  thanks!

[2017-12-07 00:31] #40 closed

[2017-12-07 00:39] camilb commented on #40
Fixed in https://github.com/camilb/prometheus-kubernetes/commit/d3997057dda7165a1a67159cfd161eb43c8596f2

[2017-12-07 02:55] ssro opened #41 "Grafana shows less than 2 days of graphs (~30hours)"
Hi @camilb ,
Not sure if you ran into this issue, but I have a stock deployment of prometheus-kubernetes using the deploy script (no emails/slack integration) on two k8s clusters deployed with kops. One is using the default debian jessie image, the other one is CoreOS. On both, when I look at grafana's graphs I always have the last ~30 hours graphed for both clusters. Worth to mention that the dep

[2017-12-07 10:16] camilb commented on #41
Hi @ssro please edit your prometheus object by running `kubectl edit prometheus k8s -n monitoring` and add   `retention: 168h` just above the `storage:` key.

Fixed in https://github.com/camilb/prometheus-kubernetes/commit/8d943ff8aa7f78c9f570ed915d1eb6423e610dae by adding option to configure storage retention period and storage volume size.

[2017-12-07 11:42] ssro commented on #41
Hi @camilb,
Thanks, I redeployed with your changes. Will check again in few days

[2017-12-09 11:28] ssro commented on #41
Hi @camilb,

This issue can be closed now. Last 2 days are graphed as opposed to my first screenshot.

Thank you for the fix!

![screen shot 2017-12-09 at 18 24 22](https://user-images.githubusercontent.com/13402690/33795160-69b6a02e-dd0e-11e7-980c-60fc572bcce1.png)

[2017-12-09 11:31] #41 closed

[2017-12-18 23:08] grayzu opened #43 "Security Group Configuration"
First, thanks for putting this together! It makes deploying Prometheus and Grafana in kubernetes super easy.

My deployment went great and most everything is up and running but I am getting errors about the control plane, scheduler, etc. I am certain it is because I have not set up the Security Groups primarily because I am not sure what I should open the ports up to. Can you provide some more gui

[2017-12-19 14:53] IgorGerasimov opened #44 "How to add exports manually ?"
Hello - how i can create target to some exporter - for example to redis ?
In what file i should add configuration.
Thank you.

[2017-12-19 22:59] camilb commented on #43
Hi @grayzu if you're using AKS, you can not get metrics from controller, scheduler or api server because are completely managed.Also, the metrics for kube-dns are not enabled in AKS but you can edit the kube-dns deployment and enable the metrics.

Please disable the control  plane metrics by running `kubectl delete -f manifests/k8s/self-hosted` and `kubectl delete servicemonitor kube-apiserver -n

[2017-12-19 23:13] camilb commented on #44
Hi, first you need to configure [redis-exporter](https://github.com/oliver006/redis_exporter) similar to [node-exporter](https://github.com/camilb/prometheus-kubernetes/tree/master/manifests/node-exporter)

Then you should create a ServiceMonitor:

[code]

[2017-12-20 00:22] grayzu commented on #43
Thanks!  I thought the managed control plain of AKS was probably the issue after I dug into it a bit more.

Thanks for the fixes to disable the metrics!

MarkG

[2017-12-29 15:46] mikeburgh opened #45 "Prometheus 2G Limit"
I have attempted to change this, but no matter what I set it to, it still ends up being 2Gi in the yaml on the cluster.

The problem is I am just testing it out, using GKE using their image n1-standard-1 which has 3.75GB, but once the system stuff is added the pod cannot be scheduled, even if I add more nodes.

Anyway to make this a lower value ? or change where ever it's actually being set from..

[2017-12-29 16:12] camilb commented on #45
Hi @mikeburgh, for a quick fix please edit prometheus if you already deploy it and change the memory requests

`kubectl edit prometheus k8s -n monitoring`
[code]

Or change the requests here, before deploying

https://github.com/camilb/prometheus-kubernetes/blob/ac4aae470d0b4d1c5e5b622790bfd48c74d00ab5/manifests/prometheus/prometheus-k8s.yaml#L42

[2017-12-29 16:17] mikeburgh commented on #45
Yeah I tried both of those approaches (editing the deployment after it was done, and before) no matter what I did, it still ended up at 2Gi. I twas the only setting that did this.. all the others I removed or changed were fine.. just this one which kept staying at 2GI.

[2017-12-29 16:47] camilb commented on #45
@mikeburgh Please run the `teardown` script and deploy it again using the latest master branch. Just pushed a commit that allows changing the memory request size: https://github.com/camilb/prometheus-kubernetes/commit/45f90058ecdc27581d5520958195a74a54c9f9c4

[2017-12-29 21:26] mikeburgh commented on #45
Can do, re cloned master, and gave it a run, and to test entered 500Mi in the size, which when I run kubectl edit...  I can see:

[code]

However, the POD is still not scheduling due to memory, and if I check out the edit via the dashboard, I see: https://cl.ly/oYkh and here is the full YAML:

[code]

[2017-12-29 21:39] camilb commented on #45
Please run the `teardown` script, then `kubectl delete ns monitoring`  and try to deploy it again. The pods are not updated if you deploy it again without erasing.

[2017-12-29 21:57] mikeburgh commented on #45
That's what I did before (except for the name space delete) just did it again now, and same result. That YAML file for prometheus still shows a 2Gi request on memory. Even when I edit it via the console and change it, it comes back as 2G.

It's something really weird, check out this video I just made, so you can see the statefull set failed due to memory, I change it, it creates a new pod, but it

[2017-12-29 22:00] camilb commented on #45
Can you contact me on kubernetes slack http://slack.k8s.io/ ? My username is `@camil`

[2017-12-29 22:52] #45 closed

[2017-12-31 09:53] camilb commented on #34
Can not reproduce it anymore in 1.8.4
<img width="1280" alt="screen shot 2017-12-31 at 11 50 31" src="https://user-images.githubusercontent.com/2655869/34460769-113fe210-ee21-11e7-84ff-c3da08d646ae.png">

[2018-01-02 10:11] grifonas opened #47 "Prometheus-k8s-0 Pod Stuck in ContainerCreating"
Hi,
I'vebeen axperiencing a problem with the prometheus-k8s-0 pod. It always gets stuck on the  ```ContainerCreating``` stage.

The reason is the fact that the volumes can't get mounted:

[code]

Have you come across this issue before?
I'm running KOPS 1.8.4.

Thank you!

[2018-01-02 10:19] camilb commented on #47
Hi @grifonas can you check if the PVC are created and bound?

`kubectl get pvc -n monitoring`

[code]

[2018-01-02 10:28] grifonas commented on #47
Hi @camilb,
Yes. The PVC does get created. And its status is "Bound":
[code]

[2018-01-02 10:33] camilb commented on #47
Can you please delete the pod and check if it solves the issue?

`kubectl delete pod prometheus-k8s-0 -n monitoring`

[2018-01-02 10:36] grifonas commented on #47
Yep. Tried that as well. Ends up stuck in the same state with the same error.
I also tried deleting the whole thing with your (teardown script) apart from the volume itself (leaving the PVC).

I then tried deleting the PVC but leaving the AWS volume.

And then deleting everything including the PVC and the AWS volume...

No luck =(

[2018-01-02 10:38] camilb commented on #47
How many availability zones do you have?

[2018-01-02 10:38] grifonas commented on #47
2.

[2018-01-02 10:38] grifonas commented on #47
People are complaining about it here: https://github.com/kubernetes/kubernetes/issues/28962 as well.

[2018-01-02 10:40] camilb commented on #47
Can you contact me on kubernetes slack team? I have the user `camil`

[2018-01-02 10:40] grifonas commented on #47
One sec.

[2018-01-02 11:35] camilb commented on #47
@grifonas Just finished creating a new cluster using kops and didn't find any issue.

Here is my test configuration:

[code]

[code]
[code]
[code]

[code]

[2018-01-02 11:41] grifonas commented on #47
Very odd indeed. Will continue trying to figure it out.
Oh, by the way, my cluster is in an existing VPC:

[code]

Thanks!

[2018-01-02 11:49] camilb commented on #47
We had a similar issue in `kube-aws` https://github.com/kubernetes-incubator/kube-aws/issues/1053

New AWS instance types: P3, C5, M5, H1. Please note that NVME volumes are not supported on the default jessie image, so masters will not boot on M5 and C5 instance types unless a stretch image is chosen (change stretch to jessie in the image name). Also note that kubernetes will not support mounting

[2018-01-02 11:57] grifonas commented on #47
I think you might be onto something here! Will give it a go m4 a go. Thanks.

[2018-01-02 15:02] grifonas commented on #47
@camilb
You were absolutely right. The instance type was indeed the issue.
Thanks again!

[2018-01-02 15:02] #47 closed

[2018-01-09 09:35] hawksight opened #48 "Deployment on GKE shouldn't use self-hosted controller / scheduler"
Asking for clarification from anyone else as well but on Google Kubernetes Engine (GKE). Are the kube-controller-manager & kube-scheduler even visible?

I cannot see the pods in `kube-system` namespace and I think that's because google manages the master node for you. Therefore the service definitions for [kube-controller-manager](https://github.com/camilb/prometheus-kubernetes/blob/master/manifes

[2018-01-09 10:10] camilb commented on #48
Hi @hawksight, thanks for the detailed report. I'm aware that these components are not visible in managed clusters, like GKE and AKS and I'm planning to add a option in the script to skip them.

[2018-01-09 10:27] hawksight commented on #48
Thanks for the confirmation @camilb. Everything else worked really nicely on GKE though, so thanks for the good work.

[2018-01-09 20:56] huang195 opened #49 "Is it possible to deploy this on a standalone kubernetes cluster"
After `git clone` and running the `deploy` script, I get a prompt asking me to enter AWS, GCP, or Azure. Is there no way to use this project for self-hosted k8s cluster?

[2018-01-09 21:56] camilb commented on #49
Hi @huang195 it can be adapted. Didn't have a chance to test it outside of these 3 cloud providers. Are you using a persistent volume, like cinder? This should be the only issue deploying it on self-hosted clusters. If you don't need persistence, it can be quickly adapted and I can add an option these days.

[2018-01-10 17:07] huang195 commented on #49
I'm not using any persistent volume, just using kubeadm to get a cluster up and running and wanted to get some monitoring going.

[2018-01-11 13:38] philicious commented on #40
@camilb I ran into the same errors but for me the problem is the same as described here and onwards https://github.com/coreos/prometheus-operator/issues/357#issuecomment-333273392

my username is reported lowercased by `gcloud info | grep Account` but it actually has capital letters, as correctly reported by `gcloud projects get-iam-policy PROJECT_ID`

getting the correct form isnt easy as it seem

[2018-01-11 14:39] shaharyakir opened #50 "Add ability to quickly add "nodeSelector" to all deployments"
Reason I'm asking for this is to not have the monitoring services/deployments interfere with the main app nodes.

[2018-01-11 14:42] shaharyakir opened #51 "Azure - Grafana+Prometheus deployments fail with "Addition of a managed disk to a VM with blob based disks is not supported.""
I'm running on Azure with acs-engine.

The deployment script ends successfully, but the pods are not able to start:

`Warning  FailedMount            15s (x2 over 1m)  attachdetach                          AttachVolume.Attach failed for volume "pvc-f1da4bbd-f6dc-11e7-a367-000d3a1b19fd" : Attach volume "XXX-dynamic-pvc-f1da4bbd-f6dc-11e7-a367-000d3a1b19fd" to instance "k8s-nodepool1-18946821-0" fai

[2018-01-11 15:07] camilb opened #52 "Improve RBAC configuration on GKE"
Extracted from https://github.com/camilb/prometheus-kubernetes/issues/40#issuecomment-356936214

[2018-01-11 15:08] camilb commented on #40
@philicious Thanks for reporting this, I'll try to address it in #52

[2018-01-11 15:09] camilb commented on #40
You were able to fix it manually for now?

[2018-01-11 15:11] camilb commented on #50
Makes sense, I'll come with an update these days.

[2018-01-11 15:37] camilb commented on #51
@shaharyakir I'm not very familiar with Azure, but willing to fix this.  `acs-engine` and  `Azure Container Service (AKS)` are the same now? I remember Azure supporting Kubernetes for quite long time, but only tested AKS recently and it was on preview.

[2018-01-11 15:50] shaharyakir commented on #51
no, AKS is the very-limited, Microsoft official implementation.

acs-engine is open source and configurable.

[2018-01-11 15:50] shaharyakir commented on #50
Great, thanks.

[2018-01-11 16:58] #48 closed

[2018-01-12 12:14] philicious opened #54 "GCP: ./teardown doesnt delete clusterrolebinding "admin-binding""
..leading to an error on another `./deploy`
[code]

[2018-01-12 12:29] philicious opened #55 "GCP: Error with StorageClass creation"
https://github.com/camilb/prometheus-kubernetes/blob/master/deploy#L84 doesnt fit https://github.com/camilb/prometheus-kubernetes/blob/master/manifests/prometheus/prometheus-k8s.yaml#L4 leading to error
[code]
and preventing the StorageClass frombeing created

[2018-01-12 14:00] philicious commented on #40
@camilb yes I was able to fix it now by hardcoding my user as `GCP_USER` in ./deploy script.
For getting all users that would have the necessary permissions the following snippet would work:
[code]
as the result isnt distinct, I would suggest presenting the user with a selection of the found users, if there is more than one user found.

[2018-01-12 19:14] #55 closed

[2018-01-13 09:48] #54 closed

[2018-01-17 08:34] shaharyakir commented on #51
Ok, will check. Thank you.

[2018-01-17 11:48] shaharyakir commented on #51
@sjdweb Works. Thanks!

[2018-01-17 16:04] #49 closed

[2018-01-17 16:06] camilb commented on #49
@huang195 Added option to deploy on custom providers in #58.

[2018-01-17 16:22] camilb commented on #40
@philicious Is this somehow better in your use case?

    kubectl create clusterrolebinding admin-binding --clusterrole=cluster-admin --user=$(gcloud config get-value core/account)

[2018-01-17 17:10] philicious commented on #40
@camilb unfortunately no. the problem is that the username for GCP and used/configured in gcloud, is all lowercase, however the IAM user got created camel-cased.
so deriving the username from gcloud configs wont work and imho the only way is querying the iam-policy.

[2018-01-17 17:53] #50 closed

[2018-01-17 17:55] camilb commented on #50
@shaharyakir addressed in #59. Please let me know if you find any issue.

[2018-01-22 13:04] BTFO opened #60 "Monitoring NGiNX ingress"
Hello!

Great piece of software, made deploying prometheus much easier and less painful!
I've however been running into a slight issue, when trying to get prometheus to recognize a nginx ingress that has been deployed using helm, it won't show up in the `/targets` list, other services can be monitored just fine, but NGiNX is the only one being stubborn.

Is this a configuration issue? If so, what

[2018-01-22 15:53] camilb commented on #60
Hi @BTFO, can you please check the prometheus logs and make sure you don't have any error similar to this:

[code]
I think that by default RBAC isn't configured to allow listing services on other namespaces than `default`, `kube-system` and `monitoring`

I'm using a different method to monitor the nginx-ingress by setting `enable-vts-status: "true"` in `ingress-nginx` configmap Ref: [here](https:/

[2018-01-23 11:31] BTFO commented on #60
I've checked the logs of the `prometheus` pod and was unable to find anything relevant

Please do share!

[2018-01-23 16:28] levep opened #61 "Configuration of SMTP and Slack after deploy."
Hi,

First of all thanks for sharing, it's really good one!
How can I config slack and SMTP after deploy (when I choose NO in deployment) ?
It's not part of config map

[2018-01-24 08:30] #61 closed

[2018-01-24 12:23] camilb commented on #60
@BTFO Here it is:
[code]

[2018-02-08 00:27] DaveNW16HD opened #66 "Azure RBAC error on deploy"
Hi

I'm getting an error similar to

https://github.com/camilb/prometheus-kubernetes/issues/40

I'm running on Azure ACS K8S 1.7.7

I've tried doing

where <username> is obtained using the command

serviceaccount "prometheus-k8s" created
rolebinding "prometheus-k8s" created
rolebinding "prometheus-k8s" created
rolebinding "prometheus-k8s" created
clusterrolebinding "prometheus-k8s" created
Error f

[2018-02-08 01:38] DaveNW16HD commented on #66
Hi

Just some another issue. I previously deploy this codebase at commit df4cfcd2ec31c39c82c677a4e6c0033e21d9df75

I would get the same rbac error but I was able to recieve k8s data including namespace, pod etc. Any idea why I can't get these data anymore from the latest commits ?

[2018-02-09 12:40] camilb commented on #66
Hi @DaveNW16HD, actually never tested Azure ACS, only Azure AKS, but I will create a cluster these days and have a look on it.

[2018-02-14 01:01] morganwalker commented on #31
@camilb I don't think this works as expected.  When I run update-config, it successfully rebuilds my prometheus-k8s-0 and prometheus-k8s-1 pods, but localhost:9090 is left with a blank configuration, no targets, and no alerts.  When I run update config, here is my output:

[code]

When prompted to make my desired changes, I insert my changes into `/tools/custom-configuration/prometheus-k8s-secret/

[2018-02-22 10:03] kczovek opened #67 "Failed cron resoruce and RBAC config on Azure"
Hi,

we have several deployments on AWS and OnPremise, when we deployed to Azure env, it throws the following errors: (defaults accepted everywhere)

E0222 10:00:53.490896       1 reflector.go:205] k8s.io/kube-state-metrics/collectors/cronjob.go:93: Failed to list *v2alpha1.CronJob: the server could not find the requested resource
E0222 10:00:53.858858       1 reflector.go:205] k8s.io/kube-state-m

[2018-02-23 08:37] kczovek commented on #67
-master seems at least working at some phase, but not all pod statuses are there, and no node info...
investigating uderlaying k8s further

[2018-02-23 08:47] camilb commented on #67
Hi @kczovek, what are you using to deploy k8s in Azure, ACS or AKS?

[2018-02-23 08:48] camilb commented on #67
Looks it needs a change in RBAC permissions, it can be fixed quickly

[2018-02-23 09:49] kczovek commented on #67
k8s cluster is deployed by ACS
i have the same with  local on-premise 1.9.2, only few of pod has metrics
the working  k8s clusters are on AWS, continuously upgraded since 1.5.x, no such issues but i assume no RBAC enabled for them

[2018-02-23 13:14] kczovek commented on #67
-master operates w/o RBAC issues on the cluster, but only some of pods has metrics

[2018-02-23 15:14] kczovek commented on #67
this could be related to the issue:

ts=2018-02-23T15:09:30.547373949Z caller=operator.go:342 component=prometheusoperator msg="syncing nodes into Endpoints object failed" err="synchronizing kubelet endpoints object failed: creating kubelet endpoints object failed: Endpoints \"kubelet\" is invalid: [subsets[0].addresses[0].ip: Invalid value: \"\": must be a valid IP address, (e.g. 10.9.8.7), subse

[2018-02-26 13:39] kczovek commented on #67
Does not collecting NODE stats seems to be k8s issue, being investigated and fixed - the missing POD statistics could be RBAC but still have no clue and log entries abut its failing somewhen.

[2018-02-28 21:59] HannanSolo opened #68 "Connecting Scylla and getting ingress up"
Hello, Gotta say this repository has been a savior for setting up Prometheus and Grafana.
I have scylla setup on my cluster and Prometheus.

But I have no idea how to connect the two, if you have any idea how to connect them or point me to a tutorial, I would appreciate it greatly.

Thanks

[2018-03-01 21:15] camilb commented on #68
Hi @HannanSolo, sorry, didn't see it first. Did you manage to set it? Basically you have to configure scylla to expose the metrics, described [here](https://github.com/scylladb/scylla/wiki/Monitor-Scylla-with-Prometheus-and-Grafana) and create a `ServiceMonitor` to make Prometheus scrape these metrics.

[2018-03-01 21:22] HannanSolo commented on #68
No problem @camilb ! I was able to get it after a ton of hours and feel like a learned a ton while troubleshooting all thanks to this amazing repo. But I am having a bit of difficulty getting the ingress up and working.

[2018-03-01 21:23] camilb commented on #68
The ingress for prometheus?

[2018-03-01 21:23] HannanSolo commented on #68
Yes, using the ./init in the ingress folder

[2018-03-01 21:24] camilb commented on #68
I think it's broken. Didn't use it for long time and didn't update it, like the rest of components. I'll try to fix it.

[2018-03-01 21:25] HannanSolo commented on #68
That would be awesome!! Overall, what is working, saved me probably 20 hours.

[2018-03-01 21:46] camilb commented on #68
Do you use any ingress controller, or do you want to create also the controller?

[2018-03-01 22:09] camilb commented on #68
Also, the ingress controller was configured for AWS only.

[2018-03-01 22:13] camilb commented on #68
If you are using AWS, then check this: https://github.com/camilb/prometheus-kubernetes/tree/fix-ingress

[2018-03-01 22:16] HannanSolo commented on #68
Ah, I'm using GKE

[2018-03-01 22:36] camilb commented on #68
GKE has its own controller, L7 LB. Please check their documentation: https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer

[2018-03-02 00:36] HannanSolo commented on #68
Got it, thank you very much!

[2018-03-02 00:36] #68 closed

[2018-03-03 00:48] immesys opened #69 "Did not find expected key"
Running `./deploy` on new kubernetes cluster printed the following while deploying grafana:

[code]

Just thought I would bring your attention to this

[2018-03-03 01:01] camilb commented on #69
Hi @immesys , which Kubernetes version are you running?
Tested the deployment from the current master on Kubernetes 1.9.3 and looks fine to me.
<img width="569" alt="screen shot 2018-03-03 at 01 59 20" src="https://user-images.githubusercontent.com/2655869/36928515-c563a890-1e86-11e8-9a05-3b5367bb637e.png">

[2018-03-03 01:12] immesys commented on #69
Ah, it might be related to persistent volumes or cloud provider. I am on a bare metal cluster, using kubernetes 1.9.3. I chose "Custom" for cloud provider. I have a default storage class that provisions using ceph RBD.

[2018-03-03 01:23] immesys commented on #69
Wow, 30 minutes from reported to fixed. Thanks!

[2018-03-03 01:23] camilb commented on #69
You're welcome, please reopen if necessary.

[2018-03-03 15:08] MansoorMajeed opened #70 "Using the same prometheus setup for scraping other services' metrics"
How do I use the same prometheus setup to get metrics from another service, say an Nginx VM which is outside of kubernetes. ? How do I add a new scrape rule?

[2018-03-03 16:39] camilb commented on #70
Never tested before, but it may work:

[code]

[2018-03-09 09:50] MansoorMajeed commented on #70
It worked. There is a tiny change

[code]

should be

[code]

Thank you so much :)

[2018-03-09 09:50] #70 closed

[2018-03-10 01:28] sabrehagen opened #72 "Helm Usage"
Your docs say

For users using Helm, what is the way to deploy `prometheus-kubernetes`?

[2018-03-10 01:43] camilb commented on #72
Here it is: [Prometheus Operator Helm Chart](https://github.com/coreos/prometheus-operator/tree/master/helm/kube-prometheus)

[2018-03-10 01:52] sabrehagen commented on #72
Could you add this to the docs for future inquirers? :)

On 10 Mar 2018 12:43 PM, "Camil Blanaru" <notifications@github.com> wrote:

[2018-03-12 14:31] HannanSolo opened #73 "Updating new grafana dashboards."
When I create a dashboard in grafana it doesnt save, so i must export it and do the steps here, to import it permanently.

[code]

and when I go to apply the changes, I get this,
`The ConfigMap "grafana-dashboards" is invalid: metadata.annotations: Too long: must have at most 262144 characters`

[2018-03-12 19:20] khaefeli opened #74 "Deploying to GKE with LoadBalancer results in 404"
I've deployed to my GCE /  GKE environment with `./deploy`.
After after everything is up, I can proxy to all instances.

But if I deploy the Nginx ingress over `tools/ingress/init.sh` I'm getting first a 400 error in the UI.
This could be solved with changing the service type from `ClusterIP` to `NodePort` for all services.

Now the status looks good and I can reach my test domain grafana.example.

[2018-03-13 10:50] tigrato commented on #73
this is related with usage of kubectl apply command.

When you use this command it adds an annotation with the previous applied version and as you are applying a large configuration > 262144 characters the resulted annotation `kubectl.kubernetes.io/last-applied-configuration` is invalid. You should not use kubectl apply but instead use kubectl delete followed by kubectl create to avoid creation of

[2018-03-13 12:43] philicious opened #75 "Add instructions for updating the Services/Stack to README"
The README mentions how to update Grafana Dashboards and Prometheus Alert Rules.
However it doesnt have infos how to update the stack/services itself.

- Can one simply pull latest code and re-run `./deploy` script and expect it to deploy any updated services/configs?
- Do you have to run the `./teardown` beforehand and will it persist/reattach the storage and data to the newly created stack then?

[2018-03-14 14:39] #73 closed

[2018-03-16 20:59] squed opened #76 "Custom configuration gets overwritten"
I've been attempting to deploy prometheus federation using a custom configuration but think I am not understanding something fully.

I have three clusters with external url configured as lab1, 2 and 3

https://api.lab1.domain.com/api/v1/proxy/namespaces/monitoring/services/prometheus-k8s:web
https://api.lab1.domain.com/api/v1/proxy/namespaces/monitoring/services/prometheus-k8s:web

Everything work

[2018-03-16 23:19] camilb commented on #76
@squed You need a ServiceMonitor to configure jobs. The secrets are generated from ServiceMonitors.

This should work, only make sure you expose the other 2 prometheus to be accessible from an IP address like `1.2.3.4:9090`

[code]

[2018-03-19 15:58] squed commented on #76
@camilb thanks for the quick response.

I think I need to do some more reading around ServiceMonitors as despite creating ./manifests/prometheus/prometheus-k8s-service-monitor-federated.yaml with your suggestion i'm not seeing any change in the prometheus configuration or any federated targets.

[2018-03-19 16:07] squed commented on #76
I'm not sure if I explained correctly but the targets are completely separate k8s clusters and not services running within one cluster.

I am sending a request to the k8s api which then forwards the request through kube-proxy to the service endpoint.

[2018-03-26 21:24] camilb commented on #76
@squed Can you expose those targets using a ingress, nodeport or loadbalancer? Have no idea how to make them work in this particular case over kube-proxy.

[2018-03-26 21:26] camilb commented on #75
@philicious I'll add the instructions in a couple of weeks. Usually, I'm running `./teardown` and `./deploy`.

[2018-03-26 21:30] camilb commented on #74
Hi @khaefeli, sorry for the late response. Have to do more tests on Google Cloud. I'm using AWS and didn't test it much on Google Cloud. I'll set a cluster and test it in the next couple of weeks.

[2018-03-26 21:34] #52 closed

[2018-03-26 21:36] #34 closed

[2018-03-26 21:36] #36 closed

[2018-03-26 21:36] #44 closed

[2018-03-26 21:38] #60 closed

[2018-04-13 17:54] aruneli opened #79 "Need support to pull metrics from kafka cluster"
I am using your project - https://github.com/camilb/prometheus-kubernetes to monitor my Kubernetes cluster. Now I have kafka running in my cluster that was created using this chart - https://github.com/kubernetes/charts/tree/master/incubator/kafka

Could you please look at last few comments here and help me?

https://github.com/kubernetes/charts/pull/4138

[2018-04-25 18:52] paalkr opened #80 "Grafana 5.x"
Hi

I tried to bump the Grafana version up to v5.1.0-beta1, but then I encountered problems with the persistent storage volumes.

This is the error from the Grafana log
[code]
Reverting back to 4.6.3 resolved the issue.

Any plans for supporting Grafana 5.x?

[2018-04-26 19:50] sokoow opened #81 "Doesn't work with Custom cloud provider - with no persistence"
Hey, I deployed this by choosing 4: Custom as cloud provider, so expecting no persistence, all got deployed bar prometheus itself, in operator logs I got this:

[code]

Help ?

[2018-05-07 22:10] camilb commented on #80
Hi @paalkr fixed in 40700bc5399fb01a674ee0419e2d21d4d8c82af1

[2018-05-07 22:15] camilb commented on #81
Hi, I see you got it fixed in https://github.com/coreos/prometheus-operator/issues/1269#issuecomment-385039748. Please let me know if still have any issue.

[2018-05-08 05:14] paalkr commented on #80
Thx, I will try this right away

[2018-05-08 13:08] grundhoeferj opened #83 "Is it possible to call the deploy script without interactive user input?"
Hey 😊
first of all, great work - i like this setup a lot!

I want to use your setup on an cluster. But i need a possibility to automate the `./deploy` call without interactive user input. Is there a possibility for that? Like passing the parameters directly to the script, e.g.  `./deploy --prometheus-operator-version=<version> ...` or something like that?

[2018-05-08 14:04] jdn-za commented on #83
Would also like to have this option, either from cli and/or file/env vars

[2018-05-08 14:28] jdn-za commented on #83
turns out you can however use a here document or string https://www.gnu.org/software/bash/manual/bashref.html#Here-Documents

[2018-05-08 16:57] goloroden commented on #83
@jdn-za Could you maybe provide an example of how to use a *here document* with the `./deploy` script?

[2018-05-08 16:59] goloroden commented on #83
@jdn-za I didn't know *here documents* until now, but I wonder if they work, whether one could not simply redirect stdin to be read from a file, like this:

[code]

Would this work as well?

[2018-05-09 06:37] grundhoeferj commented on #83
@jdn-za Would you like to share an example? It would help me a lot! 😊

[2018-05-09 07:36] grundhoeferj commented on #83
I solve the problem. Thanks to @jdn-za and @goloroden 😊

My solution is exactly like the approach from @goloroden

Call:
[code]

The `values.txt` file contains all interactive user input. Each line describes one user input:
[code]

[2018-05-09 07:36] #83 closed

[2018-05-11 03:37] posix4e opened #84 "Seeing some alerts firing on a new cluster in aure"
Here's what I see in the alert manager

[Prometheus Time Series Collection and Processing Server.pdf](https://github.com/camilb/prometheus-kubernetes/files/1993879/Prometheus.Time.Series.Collection.and.Processing.Server.pdf)

[2018-05-11 03:38] posix4e opened #85 "I'm not seeing my services show up when I scrape"
Do you have something misconfigured. I was under the impression that if I launch my services with
[code]
Operator would pick them up on <svc.namespace....>:5000/metrics What gives? Why don't I see them in the service discovery screen?

[2018-05-17 12:30] arndtroth opened #86 "SMTP configuration for Grafana?"
I was wondering if it would make sense to take the custom SMTP configuration provided for alert manager and add it as grafana config in /etc/grafana/grafana.ini as well?

With grafana 4.6.3 there seems to be no alert manager plug-in installed.

[2018-05-27 14:04] #81 closed

[2018-05-29 17:45] morganwalker commented on #41
Thanks for responding! Hmmm, evening after manually bouncing the pods after performing the edit, they still have old values. Here's what I see when I edit:

[code]

But on the Pod configs, I see `--storage.tsdb.retention=24h` and no mention of the 280Gi storage. The current PVCs are using 2000Gi and I'm not even sure where that's coming from.

[2018-05-30 16:50] morganwalker commented on #41
I updated `"--storage.tsdb.retention=24h` in my `prometheus-k8s` statefulset, which triggered the pods to recreate and take the new config. Now I want to increase the storage request but I can't do that by editing the stateful set. Still performing `kubectl edit prometheus k8s -n monitoring` and making changes doesn't seem to update anything.

[2018-05-30 17:47] camilb commented on #41
@morganwalker after changing the storage size you should delete the PersistentVolumeClaims and prometheus pods. New PVCs will be created.

    kubectl get pvc -n monitoring | grep prometheus | cut -d " " -f 1 | xargs -n 1 kubectl delete pvc -n monitoring
    kubectl delete pod -n monitoring -lapp=prometheus

[2018-05-31 00:19] morganwalker commented on #41
It doesn't matter what I edit via `kubectl edit prometheus k8s -n monitoring`, e.g. retention, replicas, storage, it isn't honored. The only thing that has any impact on the pods is when I directly edit the `prometheus-k8s` statefulset, and I can't edit the storage configs via that. I tried `kubectl edit prometheus k8s -n monitoring`, with this edit:

[code]

And then running:

[code]

But the pod

[2018-06-04 13:55] StevenACoffman commented on #76
@squed These are also relevant:
+ [Allow specifying additional scrape configs via secret](https://github.com/coreos/prometheus-operator/pull/1246)
+ [Allow specifying additional AlertManager configs via secret](https://github.com/coreos/prometheus-operator/pull/1338)

[2018-06-11 18:31] #80 closed

[2018-06-11 18:55] paalkr opened #88 "node-exporter Kubernetes node labels missing"
Hi

I encounter the same issue as described here
https://github.com/prometheus/prometheus/issues/3294
when deploying Prometheus

Earlier (before the Prometheus operator implementation) metrics like
`container_memory_working_set_bytes{id='/'}`
provided all the node labels
![image](https://user-images.githubusercontent.com/9726307/41251068-2324717c-6db9-11e8-8a6d-25bc04313aac.png)

But unfortunately

[2018-06-13 19:39] RudyBone opened #89 "Prometheus kubelet target(s) state down, help debug"
When I deploy and go to the Prometheus UI, all of the targets are up with the exception of kubelet.  I have a 3 node system and the error for each node is similar to the following:

Get http://7.165.211.29:4194/metrics: dial tcp 7.165.211.29:4194: connect connection refused.

Where should I look to start debugging this problem?

[2018-06-15 06:41] DaveNW16HD opened #90 "Remove Kube-DNS target from prometheus"
Hi

I'm using this project to monitoring a k8s cluster on azure (using acs-engine). I think Kube-DNS doesn't have it's metric enabled by default. What's the best way to remove the kube-dns target from prometheus. I tried to update the configmap on k8s without much success.

[2018-06-21 11:00] andrvin opened #91 "How to get jmx metrics in prometheus-kubernetes project?"
Hi guys! Thank you for your job!
Everything is good, but I just don't know how to get metrics from prometheus jmx exporter agent.
The agent is installed in app container and listen on 9090 port:

`    spec:
      containers:
      - image: registry/image:version
        imagePullPolicy: Always
        name: app-name
        env:
        - name: JAVA_CUSTOM_OPTS
          value: "-Xms256m -Xmx512m

[2018-06-21 16:49] #89 closed

[2018-06-21 16:51] RudyBone opened #92 "Kubernetes 1.9.6, what branch should I use?"
We're doing a jump from Kubernetes 1.7.3 to 1.9.6, was wondering what branch of this project I should use and whether that branch ditches the cadvisor metrics for the kubelet stats api.

[2018-06-25 08:40] drubin commented on #67
I get the same errors on GKE

[code]

[2018-06-29 10:41] camilb commented on #88
Hi @paalkr, sorry for the late reply. I did try to fix it but unfortunately wasn't able to do it. Tested also with `TargetLables` and still not working. I think I'll need more time to understand exactly how this work.

Here is the example I tried:

[code]

[2018-06-29 10:44] camilb commented on #90
Hi @DaveNW16HD sorry for the late reply, here it is:

you can list the `ServiceMonitors` using this command: `kubectl get servicemonitors -n monitoring`

then delete the one you don't need anymore: `kubectl delete servicemonitor kube-dns -n monitoring`

[2018-06-29 10:46] camilb commented on #92
Hi @RudyBone master works well with Kubernetes 1.9.X

[2018-06-29 10:50] camilb commented on #91
Hi @andrvin this should work, you have to replace the selector label and the namespace.

[code]
Save it to a file and `kubectl create -f file.yaml`

[2018-06-29 10:56] camilb commented on #86
Alert plugin works only in 5.2.X. I have a custom configuration where I'm using it and I will add the code to this repo soon.

Planning to make Grafana more independent in the future. I am aware that the persistence doesn't work well right now, the Grafana config reloader is deprecated and there are some other issues, like importing large dashboards.

[2018-06-29 10:57] camilb commented on #85
Hi @posix4e you need to create a `ServiceMonitor` and configure it to scrape metrics from your app.

[2018-06-30 23:02] paalkr commented on #88
Hi, thanks  for looking into this, I appreciate your effort and help.

[2018-06-30 23:14] paalkr commented on #88
May this be of any help?
https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/servicemonitor.crd.yaml

[2018-07-01 05:55] DaveNW16HD commented on #90
Thanks !

[2018-07-01 05:55] #90 closed

[2018-07-02 10:39] kaazoo opened #93 "Persist dashboards created by Grafana users"
Whenever the Grafana pod is recreated (e.g. during rolling update of k8s cluster), it looses all dashboards that have been created by Grafana users. The new Grafana pod only has the default dashboards.

What's strange is that the alarm definitions seem to be still available:
[code]

[2018-07-03 10:59] kaazoo commented on #93
The problem seems to be caused by grafana-watcher:
https://github.com/coreos/prometheus-operator/blob/7488886938ec366e96c8e66dd8a4e66f0dffb825/contrib/grafana-watcher/updater/dashboard.go#L51

It deletes all existing dashboards before deploying the default dashboards from the asset folder again.

[2018-07-09 12:34] csrao10890 opened #94 "How to set SMTP for Grafana"
Hi,

I am newbie for this. Could you please let me know how to setup SMTP for grafana ? Please provide complete steps with example.

[2018-07-09 12:37] csrao10890 opened #95 "Custom Grafana dashboards are not working"
Hi,

I tried to add additional/custom grafana dashboards by following the steps mentioned in the READ.me. But it is not working and breaking the existing/out of the node/pod dash boards.

**update grafana dashboards:** add or change the existing dashboards in assets/grafana/ and execute scripts/generate-dashboards-configmap.sh. Then apply the changes using kubectl apply -f manifests/grafana/grafan

[2018-07-11 12:14] vpistis commented on #75
@camilb but `./teardown` delete all data, or not? A command for updating all components without deleting data exists?
tx

[2018-07-16 04:47] str1k3r opened #96 "Allow NAMESPACE to be configurable option"
Would be nice to have ability deploy Prometheus not only to the monitoring namespace

[2018-07-19 14:16] vpistis commented on #75
@camilb the response is here :)
I run `./teardown` and `./deploy` and don't delete any information... sorry for the question :) and tanks for your great work.

[2018-07-20 12:31] morganwalker commented on #41
I worked around this by editing tools/custom-configuration/prometheus-k8s.yaml with the disk size I wanted, running tools/custom-configuration/update-config, blowing away the PVCs attached to the prometheus pods, and restarting the prometheus pods. They'll then attach a PVC the size specified in prometheus-k8s.yaml. Pretty sure that's what you were saying in https://github.com/camilb/prometheus-ku

[2018-07-25 14:13] RudyBone opened #97 "Where can I find a set of Helm Charts for this project?"
I have a prometheu-operator install based on this project working; now we are moving to Helm and before I start writing my own charts to reproduce the functionality here, was wondering if there were 1 or more charts already available.

[2018-07-25 15:40] fsz1993 opened #98 "Seems like "custom" option ignores some configuration"
I was trying to deploy using option **_4) Custom_** and it kept creating the prometheus pod with 2Gi required memory for Prometheus.

As I debugged, I found that the script is removing the variables below from the manifest and that causes the issue:
**PROMETHEUS_MEMORY_REQUEST**

I think that the line 3 of the block below is the cause of the issue, as it should be 34 not 31:
"Custom")

[2018-07-26 07:02] camilb commented on #98
Thanks for notice. Fixed in 5f67bce7245104f4b8f4388f8d7576d228e5e010

[2018-07-26 07:02] #98 closed

[2018-07-26 07:05] camilb commented on #97
You can use the official helm repository: https://github.com/coreos/prometheus-operator/tree/master/helm/kube-prometheus

[2018-07-26 07:06] camilb commented on #95
I am aware of this issue and planning to fix it soon

[2018-07-26 07:08] camilb commented on #93
Yes, I am aware of this issue. Grafana config reloader was deprecated and I plan to remove it an use the new Grafana functionality to achieve this. Ref: https://github.com/camilb/prometheus-kubernetes/issues/95

[2018-07-30 11:36] aviramartac opened #100 "Disable anonymous access in Grafana"
Hi,
How may one disable anonymous access to Grafana? or really change any Grafana settings at all?
I know I can edit the Grafana.ini but how do I commit the changes without having to entirely re-deploy?

[2018-08-06 08:04] #100 closed

[2018-08-09 11:28] techlead-katra opened #104 "How Do i use my persistent volume for Grafana, Prometheus and Alertmanager"
Hey,
This is a perfect automation for running prometheus-operator on a cluster. I have made a very few changes and able to create an active monitoring. Only issue on using Kubernetes 1.7, cronjob monitoring fails.
Coming to my question .....

Right now the persistent volumes are created when i run the deploy script. Can i use the volumes i have created already. Where do i need to make changes to a

[2018-08-09 15:42] SaiDoFan opened #105 "Monitoring information for Pod and Deployment cannot be obtained"
Thank you very much for your contribution, which made it easy for me to install successfully. However, I can't get the monitoring information of Pod and Deployment. I don't know what went wrong because it all seemed normal. Docker version 1.13.1 Kubernets: 1.10.1 other components are the same as the version you provided.

[2018-08-12 01:56] camilb commented on #100
@aviramartac Please try #110. It should solve this issue

[2018-08-12 01:57] camilb commented on #104
Hi @techlead-katra #110 solves this issue. Please let me know if you encounter any issues

[2018-08-12 01:57] #97 closed

[2018-08-12 01:58] camilb commented on #95
Hi @csrao10890 solved in #110

[2018-08-12 02:07] camilb commented on #80
Improvements in #110

[2018-08-13 08:43] paalkr commented on #88
Hi, id did notice a big commit yesterday. Did you have any success to get the labels applied?

[2018-08-13 09:50] camilb commented on #88
No luck yet

[2018-08-13 21:47] #96 closed

[2018-08-13 21:48] camilb commented on #96
@str1k3r done in #111

[2018-08-14 06:12] paalkr commented on #88
Ah, I see. Thanks for the feedback. anything I can do to help?

[2018-08-15 08:18] aviramartac opened #112 "Assets are gone??"
What happened?

[2018-08-15 08:32] camilb commented on #112
I'm trying to make the structure more simple. Prometheus rules are now in one manifest: [manifests/prometheus/prometheus-k8s-rules.yaml](https://github.com/camilb/prometheus-kubernetes/blob/master/manifests/prometheus/prometheus-k8s-rules.yaml) and Grafana dashboards are here: [manifests/grafana/grafana-dashboards.cm.yaml](https://github.com/camilb/prometheus-kubernetes/blob/master/manifests/grafa

[2018-08-15 08:36] aviramartac commented on #112
Hmm okay thanks, so where now for example I can customize Grafana configuration for example? Like disable anonymous access?

[2018-08-15 08:39] camilb commented on #112
Grafana has now persistence. Everything you change, persists. Anonymous is disabled by default. First time when you login with `admin:admin` you'll be asked to set a new password.

[2018-08-15 08:40] camilb commented on #112
Some configurations can be made directly from the UI

[2018-08-15 08:44] aviramartac commented on #112
What about settings that are normally changed via grafana.ini?

[2018-08-15 09:21] #112 closed, assigned to nobody

[2018-08-15 09:59] aviramartac opened #113 "Scraping custom HTTPS metrics"
Hey,

I was wondering if you could please assist setting up a simple custom scrape in your setup.
On a different project I have the following configuration:

- job_name: 'example-api'
scheme: https
metrics_path: /api/metrics
static_configs:
- targets: ['example.url.io']

How would this work using your project? I know it is using Prometheus Operator, which uses ServiceMonitor, but I'm struggling to

[2018-08-15 10:14] camilb commented on #113
This should work:

[code]

[2018-08-15 10:17] camilb commented on #113
Make sure the endpoint is created. Should be something similar to this:

[code]

[2018-08-15 11:57] aviramartac commented on #113
Thanks for the help, I believe I understand and I will try it out.
What if I already have an existing internal service, in another namespace, that I want to monitor?

I imagine I would have to do something like this:

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: example-api
  name: example-api
  namespace: monitoring
spec:
  endpoints:
  - honorLabels:

[2018-08-15 12:09] aviramartac commented on #113
Thanks for the help, I believe I understand and I will try it out.
What if I already have an existing internal service, in another namespace, that I want to monitor? It is exposed internally via port 80 in this case, and the metrics are still in /api/metrics.

I imagine I would have to do something like this:

[code]

Would I then just save it in a file and do "kubectl create -f file.yaml"? How do

[2018-08-15 12:28] camilb commented on #113
Yes, your example should work and you should see a new target in Prometheus

[2018-08-15 12:36] aviramartac commented on #113
Awesome, thanks. No other step is needed after this? Because I just saw in the Prometheus Operator documentation they have another step to "include" ServiceMonitors: https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html#include-servicemonitors

[2018-08-15 12:39] camilb commented on #113
By default, all `ServiceMonitors` labeled with `k8s-app`  are configured. If you want to use a different label, then you should also add it in `Prometheus` object

[2018-08-15 12:43] aviramartac commented on #113
Got it. Thanks for the help, love this project.

[2018-08-16 08:01] aviramartac commented on #113
Sorry I'm reopening because I still haven't gotten this to work. Maybe I'm doing something wrong?
This is the service YAML (I only added the "k8s-app: "myapp-backend" label):

[code]
And this is the ServiceMonitor:

[code]

When I apply the file nothing gets added to the Prometheus targets. Is it possible that this issue is due to the service using a label selector different then the "k8s-app" one

[2018-08-16 09:15] aviramartac opened #114 "Editing/Deleting provisioned Grafana dashboards"
It seems like the instructions in the README for updating the built-in dashboards are no longer applicable. It is possible to create a copy of the provisioned dashboards and edit those, but there's no way to hide or delete the provisioned ones.

Can you outline a process by which this can be done?

Thanks

[2018-08-16 11:43] camilb commented on #113
Your labels are not consistent. You have `k8s-app: myapp-backend` in Service and `k8s-app: myapp-backend-internal` in ServiceMonitor.

[2018-08-16 11:44] camilb commented on #113
[code]
should be
[code]

[2018-08-16 12:27] aviramartac commented on #113
Yeah thanks so I fixed that and some other issues. I'm seeing it now in "service discovery", but I'm getting "0 out of 14 active". So it does discover the pods, but it appears it can't get data from them.

I should mention that the service I'm trying to monitor is in a difference namespace, though I'm creating my ServiceMonitor in the "monitoring" namespace (if I create it in another namespace it

[2018-08-16 12:35] #113 closed

[2018-08-17 11:10] suveerrao opened #115 "Unable to scale prometheus-k8s statefulsets."
Hi,

I have configured prometheus on AWS based k8's cluster. I have created 2 25GB ebs for prometheus-k8s and I am running out of disk space and I am unable to change the retention time and unable to scale the statefulsets and also I am unable to delete the statefulset and have no idea what is happening because I don't see any error's when I have making changes k8s dashboard or "kubectl apply ".

[2018-08-17 11:32] camilb commented on #115
Hi @suveerrao you can change the retention by editing Prometheus:

`kubectl edit prometheus k8s -n monitoring`

[2018-08-17 13:30] suveerrao commented on #115
Thanks @camilb I was able to change retention can we also change replicas in similar fashion?

[2018-08-17 13:34] suveerrao commented on #115
Thanks a lot @camilb

[2018-08-20 09:13] aviramartac opened #116 "Grafana service error"
Hello,

Grafana service currently refers to: "targetPort": "web" instead of "http".

[2018-08-22 23:24] edisonwang opened #117 "error validating data: [apiVersion not set, kind not set];"
Hi,

just tried to deploy to my Kubeadm based bearmatel cluster and get following errors and couldn't  figure out what happened....
[code]
Any idea where I should look at?

[2018-08-23 00:07] camilb commented on #117
Hi @edisonwang fixed in 0c1c8b20cdd995b9e94c1f68fd0b9a1376997ea3

[2018-08-23 00:38] edisonwang commented on #117
@camilb Thanks! just tried grafana works but prometheus still the same.

error: error validating "manifests/prometheus/prometheus-k8s.yaml": error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false

[code]

[2018-08-23 07:53] camilb commented on #117
@edisonwang Tested on MacOS and Ubuntu and works fine. Can you please try this command `sed -i -e '1,8d;32,45d' manifests/prometheus/prometheus-k8s.yaml` in repo directory, then check if the  `manifests/prometheus/prometheus-k8s.yaml` file looks like this?

[code]
Previously, the first 2 lines were removed by the script

[2018-08-23 07:54] camilb commented on #117
I see it complains for the first 2 lines, `apiVersion` and `kind`

[2018-08-23 10:15] edisonwang commented on #117
My bad, it works.... I changed the yaml to customized the storage class, and it works on grafana, but not on Prometheus...
Thanks a lot for your help. I'll close this.

[2018-08-23 10:15] #117 closed

[2018-09-03 12:07] aviramartac opened #119 "Feature Request: thanos support"
Hey,

Thanks for the great project. Are you planning on adding support for thanos? (https://github.com/improbable-eng/thanos)

I saw that prometheus-operator has added support for it.

[2018-09-11 19:42] paalkr commented on #88
Some more interesting information
https://github.com/coreos/prometheus-operator/issues/1166
https://github.com/coreos/prometheus-operator/issues/1548#issuecomment-402045553

[2018-09-12 07:56] paalkr commented on #88
I managed to sort out this issue. There are several things worth mentioning.
The Prometheus Operator ServiceMonitor object/kind/crd does not provide access to the kubernetes_sd_config role=node
[code]
And therefor non of the `__meta_kubernetes_node_*` labels are available. This can be worked around using `additionalScrapeConfigs` in the PrometheusSpec (https://github.com/coreos/prometheus-operator

[2018-10-03 09:17] CodeMyWorld commented on #105
I faced this problem too. During the deployment, there was no exceptoin.

[2018-10-04 03:00] CodeMyWorld commented on #105
I fixed my problem. You should update the monitor for kubelet like this for the 1.10 k8s:
https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus-serviceMonitorKubelet.yaml

[2018-10-08 17:26] orelhinhas opened #120 "Target Labels are "dropped""
Hi,

after deployed this Prometheus, I tried to monitor my web apps and rabbitmq, but after following all documentation when I open Prometheus UI - Service Discovery all my "Target Labels" are dropped.

This scenario occurs only when I set up other apps, the k8s cluster monitoring is OK.

I tried even the "example-app" in "Getting Started" documentation but the symptom is the same.

Thanks in adva

[2018-10-08 18:40] camilb commented on #120
Hi @orelhinhas, did you create a `ServiceMonitor` to monitor additional apps?

Should look like this:

[code]

Here is an example for RabbitMQ deployment

[code]

[2018-10-08 18:54] camilb commented on #88
Hi @paalkr, thanks for this fix. I'll try to integrate it in the next update.

[2018-10-11 10:11] HuJake opened #121 "Stuck in Waiting for Operator to register custom resource definitions"
Deploying Prometheus Operator
serviceaccount/prometheus-operator unchanged
clusterrole.rbac.authorization.k8s.io/prometheus-operator configured
clusterrolebinding.rbac.authorization.k8s.io/prometheus-operator configured
service/prometheus-operator unchanged
deployment.apps/prometheus-operator unchanged
Waiting for Operator to register custom resource definitions....................................

[2018-10-20 16:43] dolphyvn opened #122 "Pods/Container metrics not show up in prometheus"
I couldn't get metrics for pods/container show up in prometheus. Is there any additional steps I need to do to get those up? Many thanks

[2018-10-20 16:51] #122 closed

[2018-10-24 12:43] ramonduraes opened #123 "AKS - Waiting for Operator to register custom resource definitions...."
I am testing the installation in a Cluster with Azure AKS. In a bash terminal I installed azure cli, got the aks credentials and rode the installer. He stops at the item below

**>>> *Waiting for Operator to register custom resource definitions......**

**Version**
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTre

[2018-10-29 12:24] aviramartac opened #124 "Unable to mount volumes for pod"
Hello,

I had clusters up and running great using your project, until we performed a rolling upgrade for kops. Following the upgrade, it seems the Grafana and Prometheus pods are unable to attach their volumes.
I removed completely using the teardown script and also removed persistent volumes and claims, and re-deployed. The same errors persist:

`Unable to mount volumes for pod "prometheus-k8s-0_

[2018-11-01 12:14] hkanizawa commented on #121
I'm getting the same here.

GCP - Kubernetes Server Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.7-gke.6"

[2018-11-04 07:48] liuts opened #125 "I want to rest external_labels"
the default values:
external_labels:
    prometheus: monitoring/k8s
    prometheus_replica: prometheus-k8s-1

i want to change the external_labels,but i do not how to ,i want some suggestion
external_labels:
    prometheus: monitoring/k8s-aws
    prometheus_replica: prometheus-k8s-1

[2018-11-06 16:04] #124 closed

[2018-11-09 13:56] #125 closed

[2018-12-05 05:43] MansoorMajeed opened #127 "Kubernetes 1.11 update removed heapster"
On version 1.11.3, heapster is removed and the kubelet does not listen on `4194` anymore. This means, prometheus is still trying to scrape from there causing timeouts. We should probably do something about it

[2018-12-23 15:08] angapov commented on #127
In manifests/prometheus/prometheus-k8s-service-monitor-kubelet.yaml try to change
[code]
to
[code]
Hope this helps.

[2019-01-17 11:57] MansoorMajeed commented on #127
Thanks @angapov, it worked

[2019-02-27 09:47] vinodhbasavani commented on #47
I am also facing the same issue with one avaliability zone.

[2019-03-07 12:18] estahn commented on #88
@camilb I'm facing the same issue with the `node-exporter`.

[2019-03-30 16:43] Vitorspk commented on #123
Hi,

commit your changed to work, after that change variable:
STORAGE_CLASS_TYPE=Managed
to
STORAGE_CLASS_TYPE=managed-standard

Kubernetes new version changed the name to managed-standard

[2019-04-03 11:20] pdrcastro commented on #114
Hi,

There are any update about this ?

Thanks.

[2019-04-05 11:05] pdrcastro opened #129 "Kubelet Connection Refused"
Hi camilb,

Before i describe my problem, i want to thank you for your amazing work.

My scenario is:
Kubernetes AWS EKS with autoscaling V1.11.

Everything is ok except the kubelet is try to connect on port 10255 but in server kubelet is listen in port 10250.

How can i fix this ?

I try to change my service monitor for:
**apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labe

[2019-04-05 11:26] pdrcastro commented on #129
Problem solve.

Change port to port: https-metrics

Thanks.

You can close.

[2019-05-27 07:49] 249043822 opened #130 "Custom: deploy prometheus-k8s error: error converting YAML to JSON: yaml: line 21"
My OS is **Centos7；**

[root@k8s-node3 prometheus-kubernetes-2.8.0]# ./deploy
Check for uncommitted changes

fatal: Not a git repository (or any of the parent directories): .git
OK! No uncommitted changes detected
Enter desired namespace to deploy prometheus [monitoring]:
Creating monitoring namespace.

Error from server (AlreadyExists): namespaces "monitoring" already exists
1) AWS
2) GCP
3) Azur

[2019-06-19 14:07] mrbrianott commented on #121
This is why: error: the server doesn't have a resource type "prometheusrules"

seems the resource is no longer available

`kubectl -n monitoring get prometheusrule.monitoring.coreos.com`

[2019-06-24 12:35] YuTingLiu opened #131 "Updating prometheus configuration"
Thanks for sharing this great project.
As same as described in #31 , I want to update ALERT rules, but path `assets/prometheus/rules/` can not found of the path.
Can you give me a detailled intrusction for updating rules?

[2019-06-26 07:33] jxsrlsl1234 opened #132 "Custom,minikube, Deploying Prometheus,prometheus-k8s.yaml: error converting YAML to JSON: yaml: line 22: mapping values are not allowed in this context"
When execute ./deployment in node with minikube installed,  just like following:

[code]
then ,
[code]
Unfortunately, prometheus-k8s-0 and prometheus-k8s-1 missing
but prometheus exactly exist:
[code]
[code]

and
[code]

[2019-06-26 08:15] jxsrlsl1234 commented on #132
I fix this error ,but the result is the same
how to fix above error:
prometheus-k8s.yaml:line 22
change
[code]
to
[code]
before ```./deploy ```

[2019-06-26 10:31] jxsrlsl1234 commented on #132
Finally, I solve it !!!!!!!!
something wrong in deploy.sh
change
[code]
to
[code]

[2019-06-26 11:01] #132 closed

[2019-06-26 11:01] jxsrlsl1234 commented on #132
Fixed

[2019-06-26 11:03] jxsrlsl1234 commented on #130
You are right ,you should change ```1,8d;32,45d``` to ```1,8d;32,49d``` when you chose Custom as cloud provider such as minikube.

[2019-07-10 05:37] icicimov opened #134 "Where are the grafana dashboards?"
Shouldn't be there some dashboards under `assets/grafana`?

[2019-07-27 12:32] lokendras395 commented on #105
@CodeMyWorld  the link that you shared does no longer exists.
Can you share how to solve this issue?

[2019-08-04 14:04] jxsrlsl1234 commented on #122
Could you tell me how to solve the problem?

[2019-08-04 14:20] jxsrlsl1234 opened #136 "Missing pod/container metrics from prometheus,no data point in grafana"
my kubernetes version is 1.12.3，

other metrics like nodes and deployments works fine,but pod cannot show data in grafana.
something wrong like following:

![image](https://user-images.githubusercontent.com/29154937/62424737-8b390480-b705-11e9-8f20-d52cb102b075.png)

![image](https://user-images.githubusercontent.com/29154937/62424779-334ecd80-b706-11e9-95a3-7be5e73570f4.png)

I get some important

[2019-08-05 07:13] troian commented on #136
https://github.com/camilb/prometheus-kubernetes/pull/135

[2019-08-13 12:11] #136 closed

[2019-08-13 12:11] jxsrlsl1234 commented on #136
thanks @troian

[2019-08-27 05:48] KevinDavidMitnick commented on #130
问题咋解决的，我也遇到这个问题。选择的clustomer存储。

[2019-08-27 09:59] jxsrlsl1234 commented on #130
看#133，如果和我一样的问题，就是那么解答，sed命令有个行号错了。发自我的华为手机-------- 原始邮件 --------主题：Re: [camilb/prometheus-kubernetes] Custom: deploy prometheus-k8s error: error converting YAML to JSON: yaml: line 21 (#130)发件人：KevinDavidMitnick 收件人：camilb/prometheus-kubernetes 抄送：jxsrlsl1234 ,Comment 问题咋解决的，我也遇到这个问题。选择的clustomer存储。

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or

[2020-05-05 04:40] torenware opened #141 "Is this repo under the Apache licence?"
I'd like to use the file `manifests/prometheus/prometheus-k8s-rbac.yaml` in another OSS repository. Is this repo under the Apache License 2.0, as the [CoreOS Kube Prometheus repository](https://github.com/coreos/kube-prometheus) is?  Are the files in your repo here under those terms of use?

[2020-05-05 07:07] camilb commented on #141
@torenware Created the license in https://github.com/camilb/prometheus-kubernetes/commit/969c21740b99d68a0ca2426f372544befa8c46f1

[2020-05-26 12:50] gurpalw opened #143 "pod cpu usage graph is wrong."
The pod cpu usage graph is displaying percentages, but the metric used is `cpu_usage_total_seconds` which is just a measurement of time in seconds.

i believe this is incorrect.

[2020-06-21 07:11] puneetmathur-87 commented on #88
Do we have any work around for now to get the node name label in the metrics without additionalScrape config ?

[2020-07-01 17:27] Blaumer commented on #88
bumppppp there has to be a better way to do this

[2020-07-02 02:14] puneetmathur-87 commented on #88
please help me understand that. I am really looking for prometheus operator use name labels on nodes.
PUNEET

    On Wednesday, 1 July 2020, 10:57:42 PM IST, Blaumer <notifications@github.com> wrote:

with respect to node-exporter o we have any work around for now to get the node name label in the metrics without additionalScrape config ?

bumppppp there has to be a better way to do this

—
You ar

[2020-07-02 02:19] camilb commented on #88
I'll take a look on it later today

[2020-07-02 02:51] puneetmathur-87 commented on #88
thanks a lot.. just let me know when you check.. I will try that immediately.
PUNEET

    On Thursday, 2 July 2020, 07:49:56 AM IST, Camil Blanaru <notifications@github.com> wrote:

I'll take a look on it later today

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-15 07:48] adityagundecha opened #144 "Deploy script getting stuck at Waiting for Operator to register custom resource definitions"
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.1+912792b", GitCommit:"912792b", GitTreeState:"clean", BuildDate:"2020-06-16T03:51:5

[2020-07-15 10:16] camilb commented on #144
fixed in https://github.com/camilb/prometheus-kubernetes/commit/e95af0312d540d484ca0d5a2114462c7131a7a28

[2020-07-15 10:16] #144 closed

[2020-08-18 15:32] izavadynskyi commented on #88
Hi guys.
I have faced with the same issue.
Do we have any updates regarding the solution?

[2020-09-28 12:25] izavadynskyi commented on #88
I have solved it by used group_left in query.
sum by(label_node_type, node) (kube_node_status_allocatable_cpu_cores * on(node) group_left(label_node_type) kube_node_labels)

[2021-02-26 00:02] #75 closed

[2021-03-12 18:26] lisenet commented on #134
While not ideal, I pulled the dashboard JSON from the config map:

https://github.com/camilb/prometheus-kubernetes/blob/master/manifests/grafana/grafana-dashboards.cm.yaml

[2021-03-22 13:36] jbnjohnathan opened #145 "line 1921: did not find expected key"
https://github.com/camilb/prometheus-kubernetes/blob/bb1e515ce125e09f9ad7effe159292ae91db36d4/manifests/prometheus/prometheus-k8s-rules.yaml#L643

This line should be
[code]

[2021-03-30 12:05] mathieumagalhaes commented on #145
This solves "line 643: did not find expected key" indeed. Thank you

[2022-05-10 12:20] #85 closed

[2022-05-10 12:20] #84 closed

[2022-06-10 09:51] sainih09 commented on #88
Hi guys, probably this is a more cleaner way to do this (on the serviceMonitor object)

[code]
These values are for [kube-prometheus-stack helm chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack). Check service discovery on prometheus for more labels. most of the useful ones are available.

[2022-06-10 15:46] izavadynskyi commented on #88
Hi. Thanks a lot for your reply. Will check it.

[2022-11-12 15:36] dberardo-com commented on #91
how does the attribute "port" work in prometheus ? i cant use integers there, so what is the convention being used ?

[2022-11-15 16:39] camilb commented on #91
@dberardo-com You can see an example [here](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/getting-started.md#deploying-a-sample-application). The `port` should match the service port name.